Author: Ansh  

# My First Notebook

This notebook contains my first data science exercises.

Data science relies on several programming languages. Here are some of the most commonly used:

1. Python  
2. R  
3. SQL  
4. Java  
5. Scala

These are some popular libraries used in data science:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Tool Name     | Description                      |
|---------------|----------------------------------|
| Jupyter       | Interactive notebook environment |
| RStudio       | IDE for R programming            |
| Apache Zeppelin | Web-based notebook for data analysis |

Below are examples of simple arithmetic expressions using Python.

In [1]:
result = (3 * 4) + 5
print("The result is:", result)

The result is: 17

In [2]:
hours = 2
minutes = hours * 60
print(f"{hours} hours is equal to {minutes} minutes.")

2 hours is equal to 120 minutes.

The objectives of this course include:

- Understanding data science tools  
- Learning how to use Jupyter Notebooks  
- Exploring popular data science libraries  
- Practicing basic Python operations  
- Preparing for real-world data science tasks